.main-container
{
    display: grid;
    grid-template-columns: 300px 1fr;
    padding: 40px 50px;
    column-gap: 8px;
    text-align: right;
}

.price
{
    width: 300px;
    height: 140px;
    font-weight: bold;
    font-size: 24px;
    border-radius: 7px;
    border: 0.8px rgb(177, 177, 177) solid;
}

.item-detail
{
    /* background-color: green; */
    width: 1fr;
    height: auto;
    border: 0.8px rgb(177, 177, 177) solid;
    padding-inline: 15px;
    border-radius: 6px;
}

.price-container
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
    padding-inline: 15px;
}

.btn-shop
{
    display: block;
    width: 120px;
    margin: 10px auto;
    font-weight: bold;
    font-family: 16px;
    background-color: red;
    border: 0.8px solid white;
    border-radius: 8px;
    font-size: 18px;
    color: white;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 30px;
    padding-right: 30px;
}

.item-pic
{
    width: 100px;
    margin-right: 10px;
}

.item-container
{
    border: 0.6px rgb(222, 222, 222) solid;
    display: grid;
    grid-template-columns: 1fr 150px;
    margin-bottom: 10px;
    border-radius: 3px;
}

.increment-option
{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border: 0.4px solid rgb(207, 206, 206);
    border-radius: 6px;
    padding-top: 4px;
    padding-bottom: 4px;
    width: 100px;
    margin-top: 30px;
    margin-bottom: 15px;
    margin-left: 40px;
    margin-right: 0px;
}

.increment-option button
{
    margin: 0px;
}

.pic-increment
{
    margin-top: 15px;
    margin-left: 0px;
}

.detail-container
{
    /* border: 0.6px rgb(222, 222, 222) solid; */
    height: 70%;
    margin-top: 30px;
    margin-left: 35px;
    margin-right: -30px;
    padding-top: 22px;
}

.txt-detail-container
{
    margin-top: 8px;
}

.txt-phone-detail
{
    font-size: 14px;
    color: rgb(77, 77, 77);
}

.imoji
{
    margin-left: 5px;
}

.txt-price-detail
{
    text-align: left;
    font-size: 22px;
}

.txt-header
{
    font-size: 22px;
    margin-left: 0px;
    margin-right: 10px;
    margin-top: 8px;
    margin-bottom: 4px;
}

.txt-itemQouantity
{
    font-size: 14px;
    margin-left: 0px;
    margin-right: 10px;
    margin-bottom: 4px;
    color: rgb(107, 107, 107);
}