<div class="main-container">
    <div class="price">
        <div class="price-container">
            <div>{{overAllPrice}}</div>
            <p>قیمت کل</p>
        </div>
        <button class="btn-shop">خرید</button>
    </div>
    <div class="item-detail">
        <div class="sabad-KharidSohma">
            <div class="txt-header">سبد خرید شما</div>
            <div class="txt-itemQouantity">تعداد کالا در سبد خرید <span>{{phoneArray.length}}</span></div>
        </div>
        <div class="item-container" *ngFor="let item of phoneArray; let i = index">
            <div class="detail-container">
                <h3>{{item.name}} گوشی موبایل مدل</h3>
                <div class="txt-detail-container">
                    <div class="txt-phone-detail">مدل جدید <span class="imoji">🔥</span></div>
                    <div class="txt-phone-detail">موجود در انبار <span class="imoji">✔</span></div>
                    <div class="txt-phone-detail">ارسال فروشنده<span class="imoji">🙋‍♂️</span></div>
                    <p class="txt-price-detail">${{item.price}}</p>
                </div>
            </div>
            <div class="pic-increment">
                <img class="item-pic" [src]="item.imgSrc">
                <div>
                    <div class="increment-option">
                        <button [disabled]="item.quantity <= 1" (click)=" decreaseQuantity(i)"
                            (click)="removePhone(i)">-</button>
                        <div *ngIf="item.quantity >= 0">{{item.quantity}}</div>
                        <button (click)="addPhone(item)" (click)="increaseQuantity(i)">+</button>
                    </div>
                    <button class="btn-delete"><img src="https://cdn-icons-png.flaticon.com/512/1214/1214428.png"
                        (click)="deleteItem(i)"    class="img-delete"></button>
                </div>
            </div>
        </div>
    </div>
</div>