<div class="header">
    <div class="leftSide-header">
        <div class="inside-leftHeader">
            <button routerLink="S/shop" class="btn-shop"><img
                  (click)="pushToService()"  src="https://cdn-icons-png.flaticon.com/512/263/263142.png" class="shop-icon"></button>
            <h3>سبد خرید</h3>
            <div class="inShop" *ngIf="quantityShop !=0">{{quantityShop}}</div>
        </div>
    </div>
    <div class="rightSide-header">
        <input type="search" class="searchBar" placeholder="جستجو">
    </div>
    <h2 class="txt-shopName">📱 گوشی امیری</h2>
</div>


<div class="container">
    <div class="image-container">
        <div class="span-img-container" *ngFor="let phone of phonesArry">
            <div class="image-overly">
                <button class="btn-image" (click)="incrementQuantity(phone)">افزودن به سبد خرید</button>
            </div>
            <img class="img-cls" [src]="phone.imgSrc">
            <div class="detail-container">
                <h3 class="header-text">{{phone.name}} گوشی موبایل</h3>
                <p class="txt-price">${{phone.price}}</p>
            </div>
        </div>
    </div>
</div>