<div class="main-container">
    <div class="image-container">
        <img class="image-phones"
            src="https://img.freepik.com/premium-photo/there-is-watercolor-painting-cell-phone-white-background-generative-ai_902338-35907.jpg"
            alt="Overview of products">
    </div>
    <div class="info-container">
        <p class="txt-header">📱نسل جدید تلفن همراه</p>
        <p class="txt-details">🔥تخفیف 30 درصدی</p>
        <div class="btnANDtxt-div">
            <button class="btn-router" routerLink="M/products">خرید</button>
            <p class="txt-tempt">!فرصت رو از دست نده</p>
        </div>

    </div>
</div>
<router-outlet></router-outlet>

<style>
    @import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@500;800&display=swap');
</style>