<!-- <Table>
  <tr *ngFor="let data of datas">
    <span>{{data.name}}</span>
  </tr>
</Table> -->

<Table>
  <thead>
    <tr>
      <th>تاریخ</th>
      <th>آخرین قیمت</th>
      <th>اسم محصول</th>
      <!-- <th>قیمت قبلی</th> -->
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of datas">
      <td>{{data.dateLastPriceRegistration}}</td>
      <td>{{data.lastPrice}}</td>
      <td>{{data.name}}</td>
      <!-- <td [class.red]="data.lastPrice<data.dateLastPriceRegistration">{{data.oneBeforeLastPrice}}</td> -->
    </tr>
  </tbody>
</Table>